<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>login</title>
</head>


<body bgcolor="black" text="#FF0000">

<body bgcolor="black">
<!--
<body bgcolor="white" text="#FF0000">
-->
    <%= yield %>
</body>
</html>