<style>
#submit_button{
    margin: auto
}
</style>


<div style="text-align:center">
<h2>It seems that you don't have your account</h2>
</div>

<div style="text-align:center">
<br><a href="/"><font color="white">Go back to login page</font></a></br>
</div>

<div style="text-align:center">
<br><a href="/registration"><font color="white">create your account</font></a></br>
</div>
