
<style>
    
.new_user_main {
    position: relative;
    top: 200px;
    margin: auto;
    width: 400px;
    padding: 10px;
    color :white
    }
</style>

<div style="text-align:center"><h1>Registration completed!</h1></div> 

<body>
<div class="new_user_main">  
    <div style="text-align:center">
    <b>Welcome <%= @new_user_name %></b>
    </div>
    <div style="text-align:center"> 
    <font color="red"><h3>You've been added to a certain list</h3></font>
    </div>
    <div style="text-align:center">
    <a href="/"><font color="white">Go back to login page</font></a>
    </div>
</div>
</body>


